.feature-box{
  width: 220px;
  height: 300px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  margin: 10px 5px;
}

@media (max-width: 442px) {
  .feature-box{
    width: 200px;
  }
}
